


header {
    background: rgb(46, 45, 45);
    padding: 20px 0;
}

nav {
    position: absolute;
    top: 16rem;
    right: 0;
}

.box {
    position: relative;
    width: 940px;
}


nav li {
    display: inline;
    margin: 0 0 0 50px;
    
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 22px;
}